body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 70px;
    
    
}
h2{
    font-size: 45px;
}

.container{
    background-image: url(images/donation12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    background-color: rgba(1, 0, 6, 0.934);
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    
    
}
#anchor{
    text-decoration: none;
    background-color: orangered;
    padding: 12px 26px;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;
    margin-top: auto;
}
.container-flexible{
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}
.family-child{
    width: 20%;
    
   margin-left: 6%;

    padding: 50px 30px;
}
.text-aligne{
    text-align: center;
}
#color{
    background-color: bisque;
}
#color2{
    background-color: rgb(190, 242, 225);
}
#color3{
    background-color: rgb(243, 184, 165);
}
footer{
    background-color: cornflowerblue;
    color: azure;
    text-align: center;
    padding: 30px;
    
}
#style{
    font-style: oblique;
}
.email-bar{
    text-align: center;
    padding: 100px;
}
.input{
    border: 2px solid rgb(232, 195, 191);
    padding: 20px 15px;
    background-color: rgb(238, 191, 176);
}